@charset "utf-8";

/* スタイリング
================================================ */
:root {
 --base-color: #6c757d;
 --base-light-color: #f2f2f2;
 --primary-color: #f8ebe5;
 --sub-color: #dbeaa4;
 --accent-color: #f4f4ab;
}

/* nav */
.navbar-brand {
 width: clamp(2.5rem, 2.197rem + 1.51vw, 3.125rem);
}

.navbar-brand img {
 margin-bottom: 0 !important;
}

@media (min-width: 992px) {
 #sideNav .navbar-brand {
  display: block;
  width: 100%;
 }

 .navbar-brand img {
  margin-bottom: 1rem !important;
 }
}

/* 均等揃え */
.justify {
 text-align: justify;
}

/* 見出しラインマーカー 共通 */
.marker {
 line-height: 1;
}

/* 見出しラインマーカー グレー*/
.base-marker {
 background: linear-gradient(transparent 64%, var(--base-light-color) 36%);
}

/* 見出しラインマーカー ピンク*/
.primary-marker {
 background: linear-gradient(transparent 68%, var(--primary-color) 32%);
}

/* 見出しラインマーカー グリーン*/
.sub-marker {
 background: linear-gradient(transparent 64%, var(--sub-color) 36%);
}

/* 見出しラインマーカー イエロー*/
.accent-marker {
 background: linear-gradient(transparent 64%, var(--accent-color) 36%);
}

/* 100vh → auto */
section.min-height {
 min-height: auto;
}

/* 英字大文字変換 → 変換なし */
.text-transform {
 text-transform: none;
}

/* 可変フォント */
p.lead {
 font-size: clamp(1rem, 0.945rem + 0.27vw, 1.15rem);
}

/* リンクボタン */
.link-btn {
 display: inline-block;
 position: relative;
 z-index: 1;
}

footer .link-btn {
 bottom: -1rem;
}

.page-top:hover a,
.link-btn:hover>* {
 transform: translate(0, -8px);
}

.btn-shadow {
 position: relative;
 border: 2px solid var(--base-color);
}

.btn-shadow::before {
 content: "";
 position: absolute;
 top: 5px;
 left: 5px;
 width: 100%;
 height: 100%;
 background: var(--accent-color);
 z-index: -1;
 border-radius: 0.375rem;
}

.btn-shadow-2::before {
 background-color: var(--primary-color);
}

/* pagetop */
.page-top {
 position: relative;
 display: none;
}

.page-top a {
 position: fixed;
 bottom: 3rem;
 right: 3rem;
 display: inline-block;
 width: 2.5rem;
 height: 2.5rem;
 border: 1px solid #6c757d;
 border-radius: 50%;
 background: rgba(255, 255, 255, 0.5);
 transition: 0.2s;
}

.page-top a::before {
 content: '';
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 display: block;
 width: 1rem;
 height: 1rem;
 margin: auto;
 border-top: 1px solid var(--base-color);
 border-right: 1px solid var(--base-color);
 transform: rotate(-45deg);
}

/* リンクホバー */
.opacity:hover {
 opacity: 0.9;
}

/* 文字のちらつき */
* {
 letter-spacing: 0.05rem;
 visibility: hidden;
}

.wf-active * {
 visibility: visible;
}

/* Creations */
#creations .thumbnail {
 box-shadow: 0 0 12px var(--base-color);
 width: clamp(18rem, 17.273rem + 3.64vw, 20rem);
}

#creations td:first-child {
 width: 9rem;
}

/* ローディング全体
================================================ */
body {
 overflow-x: hidden;
}

.loading {
 display: none;
}

.show {
 display: block;
 transition: opacity 2s ease-out;
 opacity: 1;
}

/* ローディング 幾何学模様
================================================ */
#particles-js {
 position: absolute;
 top: 0;
 left: 0;
 z-index: 9999;
 width: 100vw;
 height: 100vh;
 background: #212529;
}

/* ローディング svg描画 キーフレームアニメーション
================================================ */
/* 描画領域全体 */
.draw {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100vw;
 height: 100vh;
 position: fixed;
 left: 0;
 top: 0;
 z-index: 99999;
}

/* SVG 描画オブジェクトのサイズ調整 */
.svg-animated {
 width: 40%;
 height: auto;
}

/* キーフレームアニメーション */
@keyframes draw {

 /* 終了時にストロークを初期化 0に戻す */
 to {
  stroke-dashoffset: 0;
 }
}

#path-1,
#path-2,
#path-3,
#path-4 {
 /* 線の長さ1000pxと空白の長さ1000pxで破線を作成 */
 stroke-dasharray: 1000 1000;
 /* 破線の開始点を1000pxずらしてもともと描画されている実線を空白で消すことでアニメーションを実現 */
 stroke-dashoffset: 1000;
 /* drawアニメーションの再生 一定速度  */
 animation: draw linear forwards;
}

#path-1 {
 /* 再生にかける時間 */
 animation-duration: 2s;
 /* 開始までの遅延時間 */
 animation-delay: 0s;
}

#path-2 {
 animation-duration: 0.5s;
 animation-delay: 1s;
}

#path-3 {
 animation-duration: 2s;
 animation-delay: 1s;
}

#path-4 {
 animation-duration: 1s;
 animation-delay: 3s;
}

/* JS機能 コンテンツフェードイン
================================================ */
/* 不透明度0で非表示 */
.fadeIn {
 transition: 1s;
 opacity: 0;
}

/* 不透明度1で表示 */
.fadeIn.animated {
 opacity: 1;
}